.venv/*

**/*.sqlite3

# Nextflow output/progress files
**/.nextflow/*
**/.nextflow.log*
mock_workflow/work/*
mock_workflow/*report.html

# When run locally (subprocess executor), workflow results go to a local folder (and intermediate files go to temp)
wf-results/**
